@import "reset.css";
body{
  background-color: #f6f9fc;
  font-family:'Courier New', Courier, monospace;
  align-items: center;
  display: flex;
  padding: 20px 50px ;
}
.canvas {
  display: flex;
  flex-direction: row;
  width : 1200px;
  height : 700px;
  margin: 20px 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  background-color: white;
  
}
/*items : range, color, button */
.controls{
  display: flex;
  align-items: center;
}
/*button*/
.controls .controls__btns{
  padding-top: 10px;
}
.controls__btns button{
  all: unset;
  cursor: pointer;
  background-color: white;
  padding : 10px 10px;
  margin : 10px 0px;
  width : 100px;
  text-align : center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border : 1px solid rgba(0,0,0,0.2);
  color : rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.controls__btns button:active{
  transform:  scale(0.98);
}
/*pensize*/
.controls .controls__range{
  padding-top: 50px;
}
/*colors*/
.controls .controls__colors{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls__colors .controls__color{
  width : 30px;
  height : 30px;
  padding : 5px 5px;
  margin : 5px 0px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}